// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

a.site-title-theme-toggle {
	color: $site-title-color;
	cursor: pointer;
	&:hover {
		color: $site-title-color;
		text-decoration: none;
	}
}

.site-title--with-image {
	@extend .site-title;
	margin-left: -12px;

	img {
		height: $base-line-height * $base-font-size * 2.25;
	}
}

.hero-image {
	margin-bottom: 12px;
}